<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Management</title>
    <%- include("shared/links"); %>
    <!-- <link rel="stylesheet" href=""> -->
    <style>
        body{
            background-color: lightslategray ;
        }
        .navbar{
            background-color: black;
        }
        nav{
            height: 100px;
            border-radius: 17px
        }
        .modal-body{
            background-color: lightblue;
        }
        input{
            border-radius: 5px;
        }
        

 .flex {
     -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto
 }

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 5rem
 }

 .card {
     box-shadow: none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     -ms-box-shadow: none
 }

 .pl-3,
 .px-3 {
     padding-left: 1rem !important
 }

 .card {
     position: relative;
     display: flex;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid #d2d2dc;
     border-radius: 0
 }
 
 .card .card-title {
    color: #000000;
    margin-bottom: 0.625rem;
    text-transform: capitalize;
    font-size: 0.875rem;
    font-weight: 500;
}

.card .card-description {
    margin-bottom: .875rem;
    font-weight: 400;
    color: #76838f;
}

p {
    font-size: 0.875rem;
    margin-bottom: .5rem;
    line-height: 1.5rem;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table, .jsgrid .jsgrid-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table thead th, .jsgrid .jsgrid-table thead th {
    border-top: 0;
    border-bottom-width: 1px;
    font-weight: 500;
    font-size: .875rem;
    text-transform: uppercase;
}

.table td, .jsgrid .jsgrid-table td {
    font-size: 0.875rem;
    padding: .875rem 0.9375rem;
}

.badge {
    border-radius: 0;
    font-size: 12px;
    line-height: 1;
    padding: .375rem .5625rem;
    font-weight: normal;
}
 
    </style>
</head>
<body>
    <!-- Header -->
    <%- include("shared/adminNavbar") ; %>

    <!-- Add student MODAL -->
    <div class="modal fade" id="information" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">New Student</h1>
                    <!-- <button type="button" class="btn-close"label="Close"></button> -->
                </div>
                <div class="modal-body">
                    <form onsubmit="addStudent(event)">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="recipient-name" placeholder="Enter student name">
                            <small id="nameError" class="text-danger"></small>
                        </div>
                        <div class="mb-3">
                            <label for="recipient-fatherName" class="col-form-label">Father Name:</label>
                            <input type="text" class="form-control" id="recipient-fatherName" placeholder="Enter father name">
                            <small id="fatherNameError" class="text-danger"></small>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="email" placeholder="your@email.com">
                            <small id="emailError" class="text-danger"></small>
                        </div>  
                        <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" placeholder="your address">
                            <small id="addressError" class="text-danger"></small>
                        </div>  
                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label">Phone Number</label>
                            <input type="tel" class="form-control" id="phoneNumber" placeholder="+1234567890">
                            <small id="phoneError" class="text-danger"></small>
                        </div>
                        <div class="mb-3">
                            <label for="dob" class="form-label">Date-of-birth</label>
                            <input type="date" class="form-control" id="dob" placeholder="10/18/2027">
                            <small id="dobError" class="text-danger"></small>
                        </div>
                        <div class="mb-3">
                            <label for="recipient-username" class="col-form-label">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Username to login">
                            <small id="usernameError" class="text-danger"></small>
                        </div>
                         <div class="dropdown">
                            <label class="form-label" for="studentClass">Grade</label>
                            <select class="form-select" id="studentClass">
                                <option selected>....</option>
                                <option value="9">9th</option>
                                <option value="10">10th</option>
                                <option value="11">11th</option>
                                <option value="12">12th</option>
                            </select>
                            <small id="gradeError" class="text-danger"></small>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Gender</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gender" id="male" value="Male">
                                <label class="form-check-label" for="male">Male</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gender" id="female" value="Female">
                                <label class="form-check-label" for="female">Female</label>
                            </div>
                            <small id="genderError" class="text-danger"></small>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-success" id="studentDetails">Save Details</button>
                            </div>
                        </div>
                        <div id="added"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

     <!-- Edit student MODAL -->
    <div class="modal fade" id="edit-info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Student</h1>
                    <!-- <button type="button" class="btn-close"label="Close"></button> -->
                </div>
                <div class="modal-body">
                    <form onsubmit="updateStudent(event)">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="recipient-name1" placeholder="Enter student name">
                            <small id="nameError1" class="text-danger"></small>
                        </div>
                        <div class="mb-3">
                            <label for="recipient-fatherName" class="col-form-label">Father Name:</label>
                            <input type="text" class="form-control" id="recipient-fatherName1" placeholder="Enter father name">
                            <small id="fatherNameError1" class="text-danger"></small>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="email1" placeholder="your@email.com">
                            <small id="emailError1" class="text-danger"></small>
                        </div>  
                        <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address1" placeholder="your address">
                            <small id="addressError1" class="text-danger"></small>
                        </div>  
                        <div class="mb-3">
                            <label for="dob" class="form-label">Phone Number</label>
                            <input type="tel" class="form-control" id="phoneNumber1" placeholder="+1234567890">
                            <small id="phoneError1" class="text-danger"></small>
                        </div>
                        <div class="mb-3">
                            <label for="dob" class="form-label">Date-of-birth</label>
                            <input type="date" class="form-control" id="dob1" placeholder="10/18/2027">
                            <small id="dobError1" class="text-danger"></small>
                        </div>
                            <div class="dropdown">
                            <label class="form-label" for="studentClass">Grade</label>
                            <select class="form-select" id="studentClass1">
                                <option selected>....</option>
                                <option value="9">9th</option>
                                <option value="10">10th</option>
                                <option value="11">11th</option>
                                <option value="12">12th</option>
                            </select>
                            <small id="gradeError1" class="text-danger"></small>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Gender</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gender1" id="male1" value="Male">
                                <label class="form-check-label" for="male">Male</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gender1" id="female1" value="Female">
                                <label class="form-check-label" for="female">Female</label>
                            </div>
                            <small id="genderError1" class="text-danger"></small>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-warning" id="">Edit Details</button>
                            </div>
                        </div>
                        <div id="edited"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <!-- Add Toast -->
        <div class="toast hide" id="addToast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
            <img src="/images/user.png" class="rounded me-2" alt="..." width="35" height="35">
            <strong class="me-auto">Student Management System</strong>
            <small class="text-body-secondary">just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Student added
            </div>
        </div>
        <!-- Edit Toast -->
        <div class="toast hide" id="editToast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
            <img src="/images/user.png" class="rounded me-2" alt="..." width="35" height="35">
            <strong class="me-auto">Student Management System</strong>
            <small class="text-body-secondary">just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                this Student got the Update
            </div>
        </div>
        <!-- clear all Toast -->
        <div class="toast hide" id="clearToast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
            <img src="/images/user.png" class="rounded me-2" alt="..." width="35" height="35">
            <strong class="me-auto">Student Management System</strong>
            <small class="text-body-secondary">just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                all Student cleared from DB
            </div>
        </div>
        <!-- delete Toast -->
        <div class="toast hide" id="deleteToast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
            <img src="/images/user.png" class="rounded me-2" alt="..." width="35" height="35">
            <strong class="me-auto">Student Management System</strong>
            <small class="text-body-secondary">just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Student is deleted
            </div>
        </div>
        <!-- resetPassword Toast -->
        <div class="toast hide" id="resetToast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
            <img src="/images/user.png" class="rounded me-2" alt="..." width="35" height="35">
            <strong class="me-auto">Student Management System</strong>
            <small class="text-body-secondary">just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Password reset of particular student
            </div>
        </div>
    </div>

    <!-- Sort students -->
    <div class="container d-flex justify-content-end mt-4">
        <div class="btn-group dropend">
            <button type="button" class="btn btn-outline-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Sort <img src="/images/sort.png" alt="" class="img-fluid" height="40px" width="50px">
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" id="byName">sort by Name</a></li>
                <li><a class="dropdown-item" href="#" id="byUsername">sort by Username</a></li>
                <li><a class="dropdown-item" href="#" id="byGrade">sort by Grade</a></li>
                <li><a class="dropdown-item" href="#" id="byGender">sort by Gender</a></li>
            </ul>
        </div>
    </div>
    
    <!-- Students/Tables -->
    <div class="container mt-4" id="srch">
    <% if (arr.length === 0) { %>
        <p class="text-white text-center mt-5">start taking admissions<br>Zero students</p>
    <% } else { %>
        <div class="card">
        <div class="card-body">
            <div class="row mb-3 d-flex justify-content-start align-items-center">
                <!-- <div class="col-md-4">
                    <h4 class="card-title mb-0">Student List</h4>
                </div> -->
                <div class="col-md-4">
                    <div class="input-group">
                        <input class="form-control purple-border" type="text" placeholder="Search students..." id="searchInput" aria-label="Search">
                        <button class="btn btn-dark" type="button" onclick="search()"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
            <table class="table table-bordered table-hover text-center align-middle">
                <thead class="table-dark">
                <tr>
                    <th>Userr</th>
                    <th>Name</th>
                    <th>Father</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Grade</th>
                    <th>Gender</th>
                    <th>Username</th>
                    <th>Provider</th>
                    <th>DOB</th>
                    <th>Admission</th>
                    <th>Updated</th>
                    <th>Deleted</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="studentTableBody">
                <% arr.forEach(function(student) { %>
                    <% if(!(student.username === "admin" && student.password === "admin123")) { %>
                    <tr class="<%= student.deleted_at ? 'table-danger' : '' %>">
                        <td class="py-1">
                            <img src="<%= student.gender === 'Male' ? 'https://img.icons8.com/office/36/000000/guest-male.png' : 'https://img.icons8.com/office/36/000000/person-female.png' %>" alt="image">
                        </td>
                        <td><%= student.name || "N/A" %></td>
                        <td><%= student.fatherName || "N/A" %></td>
                        <td><%= student.email || "N/A" %></td>
                        <td><%= student.address || "N/A" %></td>
                        <td><%= student.contact || "N/A" %></td>
                        <td><%= student.grade || "N/A" %></td>
                        <td><%= student.gender || "N/A" %></td>
                        <td><%= student.username || "N/A" %></td>
                        <td><%= student.provider || "N/A" %></td>
                        <td><%= student.DOB ? student.DOB.toISOString().split('T')[0] : "N/A" %></td>
                        <td><%= student.created_at.toISOString().split('T')[0] %></td>
                        <td><%= student.updated_at ? student.updated_at.toISOString().split('T')[0] : 'N/A' %></td>
                        <td><%= student.deleted_at ? student.deleted_at.toISOString().split('T')[0] : 'N/A' %></td>
                        <td><%= student.deleted_at ? 'Inactive' : 'Active' %></td>
                        <td>
                        <div class="btn-group" role="group">
                            <button class="btn btn-sm btn-secondary" onclick="resetPassword(<%= student.student_id %>)">Reset</button>
                            <button class="btn btn-sm btn-warning" onclick="editstudent(<%= student.student_id %>)" data-bs-toggle="modal" data-bs-target="#edit-info">Edit</button>
                            <button class="btn btn-sm btn-danger" onclick="removestudent('<%= student.username %>')">Delete</button>
                        </div>
                        </td>
                    </tr>
                    <% } %>
                <% }); %>
                </tbody>
            </table>
            </div>
        </div>
        </div>
    <% } %>
    </div>

    
    <script src="/js/admin.js"></script>
</body>
</html>